<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script>
        function validateHhMm(inputField) {
            var isValid = /^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$/.test(inputField.value);
    
            if (isValid) {
                inputField.style.backgroundColor = '#bfa';
                document.getElementById("click").disabled=  false;
            } else {
                inputField.style.backgroundColor = '#fba';
                document.getElementById("click").disabled=  true;
            }
            return isValid;
        } 
          function validateMyForm(){
           if (document.getElementById("click").disabled==false){
                document.getElementById("forma").submit();
            }
          }

          function validateForm(){
            validateHhMm(document.getElementById("hora"))
          }
      
    </script>
</head>
<body>
        <form name="forma" id="forma" action = "http://127.0.0.1:3000/" method = "POST" onsubmit="event.preventDefault(); validateMyForm();">

    <input type="text" name="hora" id="hora" onchange="validateHhMm(this);" onclick="validateForm()"/> Hora
    <br/>
    <select id="idioma" name="idioma" onclick="validateForm()">
        <option value="Español">Español</option>
        <option value="English">English</option>
        <option value="Francais">Francais</option>
    </select> Idioma
    <br/>
    <input id="click" type="submit" value="Go" disabled/>
</form>
    <h1><%=message%></h1>
</body>
</html>
