<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <input type="text" /> Hora
    <br/>
    <select id="idioma" name="idioma">
        <option value="Español">Español</option>
    </select> Idioma
    <br/>
    <input type="button" value="Go"/>
    <h1><%=message%> </h1>
</body>
</html>